/* App.css */
body.night-mode {
  background-color: #121212;
  color: white;
}

.navbar.night-mode {
  background-color: #333;
}

.navbar .navbar-toggler-icon {
  background-color: white;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: #ff9800;
}
